body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.sidebar {
    width: 240px;
    background-color: #4476fb;
    color: #ecf0f1;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
}

.sidebar .logo {
    text-align: center;
    padding: 1px 0;
    background-color: #4476fb;
}

/* .sidebar nav {
    padding: 20px 0;
} */

.sidebar nav ul {
    list-style: none;
    padding: 0px 14px;
}

.sidebar nav ul li {
    padding: 20px 25px;
    transition: background-color 0.3s ease;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    transition: color 0.3s ease;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li.active a {
    /* background-color: #34495E; */
    color: #ecf0f1;
    /* background-color: #8d8e8f; */
}

.sidebar nav ul li:hover,
.sidebar nav ul li.active {
    /* background-color: #8d8e8f; */
    /* color: #2C3E50; */
}

.sidebar nav ul li a i {
    margin-right: 10px;
}

.submenu-items {
    display: none;
    padding: 0 !important;
    font-size: small;
}

nav ul .expanded  {
    border: 2px white solid;
    border-radius: 24px;
}

.submenu-items.expanded {
    display: block;
    border: none;
}

.submenu .submenu-toggle {
    margin-left: auto;
    transition: transform 0.3s ease;
}

.submenu .submenu-toggle.rotated {
    transform: rotate(180deg);
}

.main-content {
    margin-left: 240px;
    width: calc(100% - 240px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #FFFFFF;
    padding: 3px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 5px;
    margin-left: 15px;
    border: none;
    outline: none;
    color: #C4C4C4;
    font-size: x-large;
}

.search-container input::placeholder {
    color: #c4c4c4;
    /* font-weight: bold;  */
}

.search-container i {
    color: #C4C4C4;
}

.user-icon {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.user-icon i {
    margin-right: 5px;
}

.container {
    padding: 20px;
    background-color: #FBFBFB;
    box-shadow: inset 5px 0px 15px rgba(0, 0, 0, 0.1), inset 0px 5px 15px rgba(0, 0, 0, 0.1); /* Left and top inset shadows */
    padding: 20px;
    background-color: #ffffff;

}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow:  5px 0px 15px rgba(0, 0, 0, 0.1),  0px 5px 15px rgba(0, 0, 0, 0.1); /* Left and top inset shadows */
}

table thead{
    box-shadow:  5px 0px 15px rgba(0, 0, 0, 0.1),  0px 5px 15px rgba(0, 0, 0, 0.1); /* Left and top inset shadows */
}
table, td {
    border-right: 1px solid #ddd;
}

table, tr td:last-child {
    border-right: none;
}

th, td {
    padding: 12px;
    text-align: left;
    padding-left: 35px;
}

th {
    background-color: #FFFFFF;
}

/* Form Styles */
form {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

a.button,
form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Button Styles */
button.edit-btn,
button.delete-btn {
    padding: 6px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a.button,
button.edit-btn {
    background-color: #3498db;
    color: white;
}

button.delete,
button.delete-btn {
    background-color: #e74c3c;
    color: white;
}

button.edit-btn:hover {
    background-color: #2980b9;
}

button.delete-btn:hover {
    background-color: #c0392b;
}

/* Success Message Styles */
.success-message {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    border-radius: 4px;
    margin-bottom: 20px;
}

.sidebar .dashboard{
    background: #ffffff;
    padding: 1px;
    color: #8d8d8d;
    font-family: system-ui;
    font-weight: 500;
}

.sidebar .dashboard p{
    padding: 0px 55px;
}

.submenu-items li.active a::before {
    content: "\f111"; /* Unicode for FontAwesome circle icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 8px; /* Adjust space between icon and text */
    font-size: 0.5em;
}

.submenu .submenu-items li a {
    color: #97B4FF;
}

.submenu ul li {
    padding: 12px 0px 12px 10px !important;
    transition: background-color 0.3s ease;
}

header .notification
{
    font-size: x-large;
    color: #4476FB;
    border-right: 2px solid #C4C4C4;
    padding: 16px;
    margin: 9px 15px;
}   
